* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-family: Calibri, Arial;
  /* background-color: green; */
}
body a {
  text-decoration: none;
  display: block;
  color: #000;
}
body li {
  list-style: none;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-6 {
  width: 50%;
}
.pt-right {
  text-align: right !important;
}
.box-shadow {
  box-shadow: 0px 7px 10px rgba(204, 204, 204, 1);
}
.pd-right {
  padding-right: 0 !important;

  padding-left: 112px !important;
}
.pd-left {
  padding-left: 12px;
}
.pd-top {
  padding: 32px 0 !important;
}
.trans-Y {
  transform: translateY(100px);
}
