@media screen and (max-width: 1024px) {
  /* header */
  .menu {
    display: none;
  }
  .menu-main {
    text-align: center;
    margin: 25px 0;
    padding: 10px;
  }
  .menu-tablet {
    display: block;
  }
  .menu-tablet-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-tablet-search {
    display: flex;
    width: 50%;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    height: 48px;
    justify-content: space-between;
  }
  .menu-tablet-search input {
    width: 100%;
    font-size: 20px;
    outline: none;
  }
  .menu-tablet-search button {
    cursor: pointer;
    border-left: 1px solid #ccc;
    padding: 0 10px;
    color: #ccc;
    height: 100%;
    background-color: transparent;
  }
  .menu-tablet-search i {
    font-size: 30px;
    background-color: transparent;
  }
  .menu-tablet-search button:hover {
    color: rgba(204, 204, 240, 0.7);
  }
  /* sidebar */
  .sidebar-lists {
    flex-wrap: wrap;
  }
  .sidebar-item {
    width: 50%;
    margin: 0;
    padding: 0 24px;
  }
  .sidebar-item-desc {
    margin-top: 20px;
    border-radius: 15%;
  }
  .sidebar-item:nth-child(2),
  .sidebar-item:nth-child(4) {
    transform: translateY(0);
  }
  /* main */
  .main-item-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
  }
  .main-item-content {
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
  }
  .main-item-description {
    margin: 24px 12px 0;
    border-radius: 10px;
    box-shadow: 0 7px 10px rgba(204, 204, 204, 1);
  }

  .main-item.main-item-description-2 {
    padding: 0;
  }
  .slide-news.box-shadow {
    box-shadow: 0 0 0 0;
  }
  .slide-train {
    margin-left: 0;
  }
  .pd-right {
    padding: 0 !important;
  }
  .background-main-item {
    background-image: none;
    padding: 0;
  }
  .main-item-research {
    display: flex;
    flex-direction: column;
  }
  .item-research:nth-child(2) {
    transform: translateY(0);
  }
  .item-research {
    margin-top: 24px;
    border-radius: 10px;
    box-shadow: 0 7px 10px rgba(204, 204, 204, 1);
  }
  .carousel-wraper .main-item-gallery {
    display: flex;
    flex-direction: row;
  }
  .carousel-item-small {
    width: 100%;
    flex: 1 0 calc(100% / 2);
  }
  .pt-right {
    text-align: center !important;
  }
  .item-image {
    display: grid;
    grid-template-columns: auto auto;
  }
  .img-gallery {
    padding: 0 6px;
    width: 100%;
    height: auto;
  }
  .item-image-1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .footer-logo img:nth-child(2) {
    display: none;
  }

  .footer-description {
    display: grid;
    grid-gap: 20px;
  }
  .footer-address {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .footer-lists {
    margin-top: 24px;
  }
  .footer-producer {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .pd-lf-32 {
    padding: 0 32px !important;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
}
@media screen and (max-width: 768px) {
  .carousel-item-small {
    width: 100%;
    flex: 1 0 calc(100%);
  }
  .item-share-wrap {
    border-radius: 20px;
  }
  /* .main-item-content img {
    transform: scale(0.5);
  } */
  .item-image-1 {
    transform: scale(0.7);
  }
}
/* Mobile */
@media screen and (max-width: 861px) {
  .item-image-1 {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 576px) {
  #header {
    height: 50vh;
  }
  .main-item-heading {
    font-size: 24px;
  }
  .main-item-head text {
    font-size: 14px;
    padding: 0 32px;
    text-align: justify;
  }

  .menu-main h3 {
    font-size: 24px;
  }
  .main-item-description h3 {
    font-size: 14px;
  }
  .main-item-detail {
    font-size: 12px;
  }
  .main-item-info button {
    font-size: 14px;
  }

  .main-item-research {
    padding: 0 12px;
  }
  .item-research {
    width: 80%;
  }
  .item-research h5 {
    font-size: 14px;
  }
  .grid-2 {
    width: 100%;
    grid-template-columns: auto;
    justify-items: center;
  }
  .sidebar {
    display: none;
  }
  .footer-logo > img {
    width: 50%;
  }
  .footer-description {
    font-size: 12px;
  }
  .footer-producer {
    font-size: 10px;
  }
}
